@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("../fonts/Jost/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Jost-Medium";
  src: url("../fonts/Jost/Jost-Medium.ttf");
}

@font-face {
  font-family: "Ruda-Medium";
  src: url("../fonts/Ruda/Ruda-Medium.ttf");
}

