@import "fonts.css";

* {box-sizing:border-box;
  font-family: "Ruda-Medium", Arial, sans-serif;
}

body {
  margin: 0 auto;
  width: 90%;
  /*font-family: "Open Sans", Arial, sans-serif;*/


}

/*-------------------------------------section slider--------------------------------------------*/

/*.container-slider {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 100%;*/
  /*!*height: 585px ;*!*/

  /*!*background-image: url("./../img/industria-construccion.jpg");*!*/
  /*!*background-size: cover;*!*/
  /*!*background-repeat: no-repeat;*!*/
/*}*/

/*.img {*/
  /*width: 100%;*/
/*}*/

/*------------------------------------section about-company--------------------------------------------*/


.container-about-company {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: #f2f2f2;
}

.container-about-company-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
  padding-bottom: 1.125em;
  width: 66%;
}

.about-company-info {
  margin: 0;
  color: #2f455d;
  text-align: justify;
  font-size: 1em;
  font-style: italic;
  line-height: 1.6em;
  text-indent: 5%;
}

.areas-of-activity {
  padding: 3em 0 0;
  color: #2f455d;
  text-align: center;
}


/*----------------------------------container-type-of-services-------------------------*/

.container-type-of-services {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;


  background-image: url("../img/bg+.jpg");
  background-position: bottom;
}

.info-type-of-services-top, .info-type-of-services-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.info-type-of-services-top {
  margin-top: -65px;
}

.info-type-of-services-bottom {
  margin-top: 1.25em;
  margin-bottom: 3.125em;
}

.shadow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.container-type-of-services-intro {
  display: flex;
  flex-direction: column;
  width: 17.5em;

}

.photo-service {
  object-fit: cover;
  height: 15.5em;
  width: 100%;
}

.description {
  padding: 1.8em;
  height: 8em;
  width: 100%;
  background: #242582;
  color: whitesmoke;
}

.orange {
  background: #FF6A00;
}

.services-link {
  padding-bottom: 2em;
  font-size: 1.25em;
  color: #FF6A00;
}

.services-link:hover {
  color: #FF5800;
}


/*--------------------------------section advantages--------------------------------------*/
.company-advantages {
  background: #2F2FA2;
}

.container-company-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.container-company-advantages-intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 23%;
  padding: 3.375em 1.125em 5.375em;
}

.advantages-subtitle {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.advantages-info {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4em;
  color: white;
}

.title-advantages {
  margin: 0;
  padding-top: 3em;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.img-advantages {
  margin: 0 auto;
}


/*----------------------------------section partner-companies------------------------------*/

.carousel-certificates {
  /*width: 100%;*/
  /*height: 500px;*/
  /*background: #f2f2f2;*/
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px;
  background-image: url(../img/backgrounds/60238.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.autoplay {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
}


#wrapperImg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.bigImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}


/*---------------------------------section partners-----------------------------------------*/


.container-partners {
  display: flex;
  padding: 6em 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: white;
}


.container-partners-intro {
  display: flex;
  width: 66%;
  justify-content: space-between;
  align-items: center;
}

.logo-partner {

  object-fit: cover;
}



/*--------------------------------section contacts--------------------------------------*/
.contacts {
  background-color: #242582;
}

.container-contacts {
  display: flex;
  flex-direction: row;
  height: 550px;
}

.container-contacts-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contacts-address__main-headline {
  color: white;
}

.contacts-address__info {
  margin-top: 0;
  color: white;
  font-size: 1em;
  font-weight: lighter;
}

.contacts-address__tel-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
  color: #FF5800;
}

.contacts-address__headline, .contacts-address__info{
  margin-top: 0;
  margin-bottom: 5px;
}

.contacts-address__tel-link:focus, .contacts-address__tel-link:hover, .contacts-address__tel-link:active {
  color: #bbbbb3;
}

.container-contacts-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  box-sizing: border-box;
  border-top: 10px solid #FF5800;
}

.goole-map {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.mail-link {
  /*text-decoration: none;*/
  color: white;
}

.container-icons {
  display: flex;
  flex-direction: row;
}

.icon-mobile-phone {
  margin-bottom: 5px;
}
