@import "fonts.css";

body {
  margin: 0 auto;
  width: 85%;
  font-family: "Open Sans", Arial, sans-serif;
}

/*.header {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*width: 100%;*/
/*}*/

/*.header-top {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 100%;*/

  /*background: #2F2FA2;*/
/*}*/

/*.logo {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-start;*/
  /*padding-left: 2.45em;*/
  /*width: 50%;*/

  /*font-size: 25px;*/
  /*font-weight: bolder;*/
/*}*/

/*.logo span {*/
  /*padding-right: 0.2em;*/
  /*font-weight: 100;*/
/*}*/

/*.address {*/
  /*margin: 0;*/
  /*font-size: 0.5em;*/
  /*letter-spacing: 0.5px;*/
/*}*/

/*.header-menu-list {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-end;*/
  /*padding-right: 2.45em;*/
  /*width: 50%;*/
/*}*/

/*.header-menu-item {*/
  /*padding-right: 0.4em;*/
  /*list-style-type: none;*/
/*}*/

/*.header-menu-item a {*/
  /*padding: 0.5em 1em;*/
  /*text-decoration: none;*/
  /*font-size: 0.8em;*/
  /*letter-spacing: -0.3px;*/
  /*color: white;*/

  /*border-radius: 3px;*/

  /*white-space: nowrap; <!-- чтобы не переносились слова в пункте меню "О нас" при сжимании окна -->*/
/*}*/

/*.logo a {*/
  /*text-decoration: none;*/
  /*color: #F64C72;*/
/*}*/

/*#active-menu {*/
  /*background: #F64C72;*/
/*}*/


/*.header-menu-item:hover a {*/
  /*cursor: pointer;*/
  /*background: #F64C72;*/
/*}*/

/*.header-bottom {*/
  /*width: 100%;*/
  /*height: 0.625em;*/
  /*background: #553D67;*/
/*}*/

/*----------------------------------------section main-screen--------------------------------------------*/

/*.main-screen {*/
  /*width: 100%;*/
/*}*/

/*.main-screen-title {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*padding-top: 1.75em;*/
  /*padding-bottom: 1em;*/
  /*width: 100%;*/

  /*background-color: #242582;*/
/*}*/

/*.main-title {*/
  /*margin: 0;*/
  /*text-transform: uppercase;*/
  /*font-size: 3.44em;*/
  /*color: white;*/
/*}*/

/*.activity {*/
  /*font-size: 1.125em;*/
  /*text-transform: uppercase;*/
  /*color: white;*/
  /*letter-spacing: 0.15em;*/
/*}*/

/*-------------------------------------section slider--------------------------------------------*/

/*.container-slider {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 100%;*/
  /*!*height: 585px ;*!*/

  /*!*background-image: url("./../img/industria-construccion.jpg");*!*/
  /*!*background-size: cover;*!*/
  /*!*background-repeat: no-repeat;*!*/
/*}*/

/*.img {*/
  /*width: 100%;*/
/*}*/

/*------------------------------------section about--------------------------------------------*/


.container-about-company {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: #f2f2f2;
}

.container-about-company-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 65%;
}

.about-company-info {
  margin: 0;
  color: #2f455d;
  text-align: justify;
  font-size: 1em;
  font-style: italic;
  line-height: 1.6em;
  text-indent: 5%;
}

/*--------------------------------section advantages--------------------------------------*/
.company-advantages {
  background: #2F2FA2;
}

.container-company-advantages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;

}

.container-company-advantages-intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 26%;
  padding: 5.375em 1.125em;
}

.advantages-subtitle {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.advantages-info {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4em;
  color: white;
}

.title-advantages {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.img-advantages {
  margin: 0 auto;
}

/*----------------------------------container-slider-certificates-------------------------*/

.container-slider-certificates {
  display: flex;
  width: 100%;
  height: 450px;
  background: #f2f2f2;
}


/*--------------------------------section contacts--------------------------------------*/
.contacts {
  background-color: #2F2FA2;
}

.container-contacts {
  display: flex;
  flex-direction: row;
  height: 550px;
}

.container-contacts-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contacts-address__main-headline {
  color: #bbbbb3;
}

.contacts-address__headline {
  color: #bbbbb3;
}

.contacts-address__info {
  margin-top: 0;
  color: white;
  font-size: 1em;
  font-weight: lighter;
}

.contacts-address__tel-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
  color: #F64C72;
}

.contacts-address__headline, .contacts-address__info{
  margin-top: 0;
  margin-bottom: 5px;
}

.contacts-address__tel-link:focus, .contacts-address__tel-link:hover, .contacts-address__tel-link:active {
  color: #bbbbb3;
}

.container-contacts-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  box-sizing: border-box;
  border-top: 10px solid #F64C72;
}

.goole-map {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.mail-link {
  text-decoration: none;
  color: white;
}

.container-icons {
  display: flex;
  flex-direction: row;
}

.icon-mobile-phone {
  margin-bottom: 5px;
}


/*--------------------------------section footer--------------------------------------*/

/*.footer {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*width: 100%;*/
  /*height: 76px;*/
  /*background-color: #242582;*/
/*}*/

/*.copyright {*/
  /*margin-left: 43px;*/
  /*font-size: 12px;*/
  /*color: #666d89;*/
/*}*/

/*.footer-social-icons {*/
  /*margin-right: 32px;*/
/*}*/

/*.footer-social-network-icon {*/
  /*padding-right: 5px;*/
/*}*/

/*.footer-social-network-icon:hover {*/
  /*transition: 0.3s;*/
  /*cursor: pointer;*/
  /*color: white;*/
  /*opacity: 0.4;*/
/*}*/

